* {
  margin: 0;
}
/* navigation */

.navigation{
    background-color: #EFD7E5;
    padding: 15px 50px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    direction: row;
}
.logo {
  width: 20%;
}
.nav {
  width: 60%;
  padding: 10px;
}
/* login button */
#login {
  width: 20%;
}
#login #btn-login {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;

  border: none;
}
#login #btn-login:hover{
    background-color: #E7BDD5;
}

nav > ul {
  display: flex;
  flex-direction: row;
}
nav li {
  list-style-type: none;
  padding: 0px 5px;
}
nav a {
  text-decoration: none;
  color: black;
}

/* home page carousel */

#carousel{
    height: 100vh;
    background-color: rgb(177, 177, 177);

}
/* home page feature products */
.feature_product{
    padding: 20px;
    height: 50px;
    text-align: center;
}
#feature_product{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    margin-top: 20px;
}
.feature_product h2{
    padding: 40px 10px;

}
#feature_product .product{
    width: 25%;
    margin-left: 10PX;
    margin-right: 10PX;
}
#feature_product .product:hover{
box-shadow:  0 3px 10px #E7BDD5;
transform: scale(1.1);
transition: transform .2s;
}

/* hot deals */
.deals h2 {
  padding: 20px;
  text-align: center;
}
#hot_deals {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.deal{
    width: 50%;
    margin-left: 2PX;
}
.deal h3 {
  padding-top: 40%;
  text-align: center;
}
#hot_deals .deal:hover{
    transform: scale(1.1);
    transition: transform .2s;  
}


/* foter  */
footer{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px 4px;
   

}
.foot{
    padding: 20px;
    width: 25%;
}
.foot li{
    padding: 2px;
    list-style-type: none;
}
#copyright{
    padding: 20px;

}

/* product page banner */
.product_banner h1{
    width: 10%;
    margin: auto;

}
/* all products */
.products {
  margin: 10px 0px;
}
.all-product {
  padding: 20px;
}

.all-product h2{
    padding: 20px 0px;
   text-align: center;

}
.product-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.product-row .product{
    width: 25%;
    box-sizing: border-box;
}
.product-row .product:hover{
    transform: scale(1.1);
transition: transform .2s;
}
/* products by categories */
.product_categories {
  padding: 20px;
}

.product_categories h2{
 text-align: center;
}

.categories-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.category{
    width: 25%;
   
    margin-left: 10PX;
    margin-right: 10PX;
}
.category h4{
    text-align: center;
    padding: 15px 0px;
}
/* about-us page */

.aboutus {
  width: 100%;
  height: 550px;
  position: relative;
}
.aboutus-heading {
  background-image: url(/images/aboutus.webp);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
  margin: auto;
}

.aboutus-heading h1 {
  font-size: 40px !important;
  position: absolute;
  top: 250px;
  left: 200px;
  bottom: 0;
  right: 0;
}

.aboutus-description p {
  padding: 30px;
  margin: auto;
  width: 50%;
}

.aboutus-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-main .aboutus-vision {
  padding: 20px;
  width: 25%;
}

.aboutus-main .aboutus-mission {
  padding: 20px;
  width: 25%;
}

/* .aboutus-team-main {
  height: 550px;
}

.aboutus-team-main .aboutus-team {
  background-image: url(/images/team.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.aboutus-team h2 {
  padding-top: 15px;
  font-size: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* single product page */
.product-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 45%;
  height: 450px;
  background-color: grey;
  border: 2px solid black;
  padding: 20px;
}
.product-info {
  width: 45%;
  height: 450px;
  background-color: grey;
  border: 2px solid black;
  margin: 30px;
  padding: 20px;
}

.product-title {
  padding: 25px;
}

.product-description p {
  padding-top: 25px;
}

.product-button {
  padding-top: 25px;
}

.product-quantity {
  padding-top: 25px;
}

/* customer dashboard */

#container {
  width: 1280px;
  height: 600px;
}

.sec1 {
  width: 400px;
  height: 500px;

  margin-top: 30px;
  margin-left: 30px;
}
table {
  border: 1px solid black;
}
.tab1 {
  border: 2px solid grey;
  margin-top: 40px;
  margin-left: 20px;
  width: 290px;
  height: 250px;
  border-collapse: collapse;
}

.sec2 {
  width: 740px;
  height: 300px;

  margin-top: -280px;
  margin-left: 480px;
}
.p2 {
  display: flex;
  justify-content: space-around;
  border: 2px solid green;
  height: 40px;
  padding: 10px;
}
.sec3 {
  width: 740px;
  height: 300px;

  margin-left: 480px;
  margin-top: 50px;
}
h3 {
  margin-left: 24px;
}

.tab2,
th,
td {
  border: 1px solid black;
  margin-left: 30px;
  width: 430px;
  height: 20px;
  border-collapse: collapse;
}


.CartContainer{
	width: 100%;
	height: 90%;
    border-radius: 20px;
  
}

.Head{
	margin: auto;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: #f1f8f4;
}

.Heading{
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #2F3841;
}

.Action{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
    padding-right: 20px;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 50%;
	display: flex;
    background-color: #f8dfed;
	justify-content: space-between;
	align-items: center;
    margin-top: 30px;
}
.cart-image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #641717;
}
.subtitle{
    padding-top: 20px;
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 400;
	color: #909090;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}

.summary{
    width: 90%;
}
.checkout{
	align-content: center;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.form_h2{
    text-align: center;
    color: #bd5d5d;
    font-size: 40px;
}

.form_p{
    text-align: center;
    color: #a31666e8;
    font-size: 16px;
}

.contact_form{
    background-color: #f8f1f4;
    padding-left: 20%;
    align-items: center;
}

.form_label{
    
    color: #393939;
    cursor: pointer;
    font-family: Tt-Chocolate;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: lowercase; 
}

/* foter  */
footer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 5px 4px;
  background-color: #EFD7E5;

}
hr{
  margin:0px
}
.foot{
  padding: 20px;
  width: 25%;
}
.foot li{
  padding: 2px;
  list-style-type: none;
}
#copyright{
  padding: 20px;
  background-color: #e7bdd5;

}
.foot a{
  text-decoration: none;
  color: #000;
}

