*{
    margin: 0;
}
/* navigation */
.navigation{
    background-color: #FBECF1;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    direction: row;
}
.logo{
    width: 20%;
}
.nav{
    width: 60%;
    padding: 10px;
}
/* login button */
#login{
    width: 20%;
}
#login #btn-login{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffffff;

}

nav > ul {
    display: flex;
    flex-direction: row;
    
}
nav li {
    list-style-type: none;
    padding: 0px 5px;
}
nav a {
    text-decoration: none;
    color: black;

}

/* home page carousel */
#carousel{
    height: 400px;
    background-color: rgb(177, 177, 177);

}
#carousel > h1 {
    padding-top: 15%;
    margin-left: 45%;
}
/* home page feature products */
.feature_product{
    padding: 20px;
    text-align: center;
}
#feature_product{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}
.product{
    width: 25%;
    background-color: gray;
    height: 200px;
    border: 2px solid black;
    margin-left: 10PX;
    margin-right: 10PX;

}
.product h3{
    padding-top: 40%;
    text-align: center;
}

/* hot deals */
.deals h2{
    padding: 20px;
    text-align: center;

}
#hot_deals{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.deal{
    width: 50%;
    height: 400px;
    background-color: gray;
    border: 2px solid black;
    margin-left: 2PX;
}
.deal h3{
    padding-top: 40%;
    text-align: center; 
}


/* product page banner */
.product_banner{
    padding: 50px;
    background-color: rgb(177, 177, 177);

}
.product_banner h1{
    width: 10%;
    margin: auto;
}
/* all products */
.products{
    margin: 10px 0px;
}
.all-product{
    padding: 20px;
}
.all-product h2{
    width: 15%;
    margin: auto;
}
.product-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* products by categories */
.product_categories{
    padding: 20px;

}
.product_categories h2{
    width: 25%;
    margin: auto; 
}

.categories-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.category{
    width: 25%;
    background-color: gray;
    height: 200px;
    border: 2px solid black;
    margin-left: 10PX;
    margin-right: 10PX;

}
/* about-us page */

.aboutus {
  width: 100%;
  height: 200px;
  background-color: grey;
  position: relative;
  margin-top: 2px;
}
.aboutus-heading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  margin: auto;
}
.aboutus-description p {
  padding: 25px;
}

.aboutus-vision {
  padding: 25px;
}

.aboutus-mission {
  padding: 25px;
}

.aboutus-heading h2 {
  padding-top: 60px;
}
/* single product page */
.aboutus-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 45%;
  height: 450px;
  background-color: grey;
  border: 2px solid black;
  padding: 20px;
}
.product-info {
  width: 45%;
  height: 450px;
  background-color: grey;
  border: 2px solid black;
  margin: 30px;
  padding: 20px;
}

.product-title {
  padding: 25px;
}

.product-description p {
  padding-top: 25px;
}

.product-button {
  padding-top: 25px;
}

.product-quantity {
  padding-top: 25px;
}

/* customer dashboard */

#container{
    width:1280px;
    height: 600px;
    
}

.sec1{
    width: 400px;
    height: 500px;
    
    margin-top: 30px;
    margin-left:30px;
}
table{
    border: 1px solid black;
}
.tab1{
    border: 2px solid grey;
    margin-top: 40px;
    margin-left: 20px;
    width: 290px;
    height: 250px;
    border-collapse:collapse;
}

.sec2{
    width: 740px;
    height: 300px;
    
    margin-top: -280px;
    margin-left: 480px;
}
.p2{
   display: flex;
   justify-content:space-around ;
   border: 2px solid green;
   height: 40px;
   padding: 10px;
  
}
.sec3{
    width: 740px;
    height: 300px;
    
    margin-left: 480px;
    margin-top: 50px;
}
h3{
    margin-left: 24px;
}

.tab2, th, td{
     border:1px solid black;
    margin-left: 30px;
    width: 430px;
    height: 20px;
    border-collapse:collapse;
}


